# .prettierrc
# Use this file to define your defaults for prettier
# For a list of all available options:
# https://github.com/prettier/prettier#basic-configuration
printWidth: 80
singleQuote: true
semi: false
